* {
    border: none;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    padding: 0.1rem;
}

window#waybar {
    background: #1C1B22;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

#window {
    font-weight: bold;
    font-family: "";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    color: white;
    border-top: 2px solid transparent; 
    margin-right: 8px;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
    background-color: #FF0000; /* Change the color as needed */
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.3);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #mode {
    padding-right: 5px;
    margin: 0 4px;
    border-right:  1px solid #FFFFFF;
}

#pulseaudio {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 4px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#tray {
    padding-right: 5px;
    margin: 0 4px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

