# Rule for when switching to battery
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="$HOME/.Xauthority" RUN+="/usr/bin/su revanth -c '$HOME/.local/bin/charging-notify.sh 1'"
# Rule for when switching to AC
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="$HOME/.Xauthority" RUN+="/usr/bin/su revanth -c '$HOME/.local/bin/charging-notify.sh 0'"
