@define-color foreground #F4D5D0;
@define-color background alpha(#18181A,0.5);
@define-color cursor #8F9DA5;

@define-color color0 #434245;
@define-color color1 #637D98;
@define-color color2 #598898;
@define-color color3 #9879A3;
@define-color color4 #3298B1;
@define-color color5 #34A0BA;
@define-color color6 #E08679;
@define-color color7 #E7BAB4;
@define-color color8 #A2827E;
@define-color color9 #637D98;
@define-color color10 #598898;
@define-color color11 #9879A3;
@define-color color12 #3298B1;
@define-color color13 #34A0BA;
@define-color color14 #E08679;
@define-color color15 #E7BAB4;